apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - global-kustomization.yaml
  - workspaces-kustomization.yaml
  - workspace-rbac-kustomization.yaml
  - workspace-networkpolicies-kustomization.yaml
  - workspace-resourcequotas-kustomization.yaml
  - workspace-applications-kustomization.yaml
  - projects-kustomization.yaml
  - clusters-kustomization.yaml
