apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../bases
  # Kubemark hollow machines moved to docker-infra for CAPD cluster testing

patches:
  # JSON patches for dm-nkp-workload-1
  - target:
      kind: Cluster
      name: dm-nkp-workload-1
    patch: |-
      - op: replace
        path: /spec/topology/class
        value: nkp-nutanix-v2.17.0-rc.6
      - op: add
        path: /spec/topology/workers/machineDeployments/0/replicas
        value: 3
      - op: remove
        path: /spec/topology/workers/machineDeployments/0/metadata/annotations/cluster.x-k8s.io~1cluster-api-autoscaler-node-group-max-size
      - op: remove
        path: /spec/topology/workers/machineDeployments/0/metadata/annotations/cluster.x-k8s.io~1cluster-api-autoscaler-node-group-min-size

  # JSON patches for dm-nkp-workload-2
  - target:
      kind: Cluster
      name: dm-nkp-workload-2
    patch: |-
      - op: replace
        path: /spec/topology/class
        value: nkp-nutanix-v2.17.0-rc.6
      - op: add
        path: /spec/topology/workers/machineDeployments/0/replicas
        value: 3
      - op: remove
        path: /spec/topology/workers/machineDeployments/0/metadata/annotations/cluster.x-k8s.io~1cluster-api-autoscaler-node-group-max-size
      - op: remove
        path: /spec/topology/workers/machineDeployments/0/metadata/annotations/cluster.x-k8s.io~1cluster-api-autoscaler-node-group-min-size
