apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # ClusterResourceSet to deploy NDK secrets to workload clusters (apply first)
  - ndk-workload-cluster-crs.yaml
  # NDK App Deployment
  - ndk.yaml
  - ndk-config-overrides.yaml
